html {
  scroll-behavior: smooth;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}
input[type="number"]:focus {
  outline: none; /* Removes the default focus outline */
  border: 1px solid #ccc; /* Adjust border width and color as needed */
}

.sidebar-link.active {
  color: blue;
}

.sidebar-link.active>div>div>span {
  font-weight: bolder;
}

.settings.active {
  color: blue;
  text-decoration: underline;
}

[data-slot="helper-wrapper"] {
  color: red;
  font-size: 0.75rem;
  display: flex !important;
}

.company-card {
  height: 370px;
  /* Set the fixed height */
  overflow: hidden;
}

.company-desc {
  height: 90px;
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Add ellipsis (...) */
  display: -webkit-box;
  /* Needed for WebKit browsers */
  -webkit-line-clamp: 3;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.chat::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}

/* Define the thumb style */
.chat::-webkit-scrollbar-thumb {
  background: #000000;
  /* #4d7fff */
  border-radius: 5px;
}

/* Define the track style */
.chat::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 5px solid #ccc;
  border-radius: 10px;
}

/* Define the button style */
.chat::-webkit-scrollbar-button {
  /* background-color: #4d7fff; */
  border-radius: 5px;
}

/* Define the button style when being hovered over */
.chat::-webkit-scrollbar-button:hover {
  background-color: #999999;
}

.list-chat {
  align-self: flex-end;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}


@media print {
  body * {
    visibility: hidden;
  }

  #print-area, #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}


ol {
  list-style-type: decimal; /* Ensures the ordered list uses numbers */
  margin: 0; /* Adjust margin as needed */
}


.custom-list ol {
  list-style-type: decimal; /* Ensure the ordered list displays numbers */
  padding-left: 20px;
}
.custom-list ul {
  list-style-type: circle; /* Ensure the ordered list displays numbers */
  padding-left: 20px;
}
.custom-list li {
  margin-left: 0; /* Ensure no extra margin is added */
  padding-left: 0; /* Ensure no extra padding is added */
  color: inherit; /* Inherit the text color */
  font-size: inherit; /* Inherit the font size */
}



.clicked {
  animation: jump 0.3s ease-out forwards;
}

@keyframes jump {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
